<body>
  

<div >
<div class=" loginpage primary ">
   <h1 class="mt-5 mb-5  login">ADMIN LOGIN </h1>

<form action="/admin/login" method="post" class="border shadow">
{{#if loginErr}}
<p class="text-danger">{{loginErr}}</p>
{{/if}}
<p>Please Enter Your Email & Password</p>
  <div class="mb-3">
    {{!-- <label for="exampleInputEmail1"   class="form-label">Email address</label> --}}
    <input type="email" style="width: 50%;" class="form-control" name="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
  </div>
  <div class="mb-3">
    {{!-- <label for="exampleInputPassword1" class="form-label">Password</label> --}}
    <input type="password" style="width: 50%;"class="form-control" name="Password"  id="myInput" value="">
    <input type="checkbox" onclick="myFunction()">Show password

  </div>
  {{!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input"  id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> --}}
  <button type="submit" class="btn btn-primary loginbutton">LOGIN</button>
<div class="d-flex">
              <p class="small fw-bold mt-5 pt-1 mb-0 signup" >Don't have an account? <a href="/signup"
                class="link-danger">Signup</a></p>
                <p class="small fw-bold mt-5 pt-1 mb-0 ms-5">Forgott Password? <a href="#"
                class="link-danger">Click here</a></p>
</div>

</form>
</div>
</div>
</body>

<script>

  function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

  <style>
   .loginpage{
    
    background-color: rgb(150, 243, 197);
    border: 2rem;
   margin-top: 4rem;
   
  margin-left: 18rem;
      padding-left: 10rem;
      
      margin-right:18rem;
     
      min-height: 60vh;
      min-width: 60vh;


      
  
  }
  .login{
    margin-top: 2rem;
  padding-left: 5rem;
  }

.loginbutton{

  margin-left: 7rem;
  margin-top: 1rem;
}

.signup{
  text-align: left;
  
}









  
body{
  background-image: linear-gradient(to bottom right, red, yellow);
}

.footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: grey;
        }

  </style>