{{!-- 
        <div class="container mt-4">
            
             <div class="row">
                 {{#each product}}
            <section class=" col-md-3">
               

                <div class="card" style="width: 18rem;height:35rem">
                    <img src="{{this.img}}"class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.disc}}</p>
                        <h5 class="card-title">{{this.prize}}</h5>

                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
                </section>
                {{/each}} 
                </div>
                
             
            
 
        </div>   
       
        --}}