
<body>
    <div class="container">
    <h1 class="mt-5 mb-5 text-center text-success" style="font-family: arif;">order placed successfully</h1>
    <a href="/orders" class=" buttons"><button type="button" class="btn btn-success  " >View orders</button>
</a>
</div>
</body>
<style>
    .buttons{
        
        justify-content: center;
        display: flex;
    }
</style>